*, html, body
{
	padding: 0px;
	margin: 0px;
}

body{
	overflow-x: hidden;
	background-size: cover;
}

header{
	
	background-color: #000000;
	height: 150px;
	line-height: 150px;
}

ul{
	list-style: none;
}

ul li{
	display: inline-block;
}

div.container .logo img{
	display: block;
	margin-left: auto;
	margin-right: auto;


}
}

header nav{
	float: left;
}

header nav ul li a{
	padding-right: 30px;
}

header nav ul li a{
	color: white;
	font-weight: bold;
	transition: all 0.5s ease-in;
}

header nav ul li a:hover{
	color: deepskyblue;
	text-decoration: none;

}

.img1{
	background-image: url(..//images/modern-bg.png), url(..//images/modern-mobile.png);
	
}

.slider ul li{
	width: 100%;
	height: 700px; 
}

.white{
	color: white;
}

.slider h2{
	text-align: left !important;
	margin-bottom:230px;
	font-weight: bold;
}
.slider p{
	text-align: right !important;
	margin-bottom: 230px;

}



.slider .btn{
	padding: 10px 40px;
	border: 1px solid white;
	height:20px; 
    width:100px; 
    margin: -20px -50px; 
    position:relative;
    top:50%; 
    left:50%
}

.slider .btn-first{
	background-color: deepskyblue;
	color: white;
}

.slider .btn-frist:hover{
	color: white;
}

div.img2{
	background-image: url(..//images/white-bg.png);
	margin-top: 0px;
	height: 100px;
	margin: auto;
	padding: 50px;
}

input[type=text], input[type=email]{
	width: 100%;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
}

input[type=text]:focus{
	border-color: white;
	box-sizing: 0 0 8px 0 white;
}
input[type=email]:focus{
	border-color: white;
	box-sizing: 0 0 8px 0 white;
}

input[type=textarea]{
	width: 100%;
	height: 190px;
	border: 2px solid #aaa;
	border-radius: 4px;
	margin: 8px 0;
	outline: none;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
}

footer{
	bottom: 0;
	position: fixed;
	width: 100%;
}

.footer{
	background: #000000;
	height: 100px;
	margin-bottom: auto;
	text-align: center;
	padding: 50px;
	color: #ffffff;

}



/**{
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style: none;
}

body{
	width: 100%;
	height: 100vh;
	background: url() no-repeat 50% 50%;
	background-size: cover;
	display: table;

}

.content{
	position: absolute;
	top:50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.content h1{
	color: #fff;
	font-family: "Poppins";
	font-weight: 200;
	font-size: 40px;
}

nav{
	width: 100%;
	background: #000;
	height: 70px;
	position: static;
	z-index: 1;
}

nav #brand{
	float: left;
	display: block;
	margin-left: 84px;
	font-size: 30px;
	line-height: 70px;
	font-weight: bold;
}

nav #brand a{
	color: #fff;
	transition: all 0.3s ease-out;
	font-family: "Poppins";
	font-weight: 300;
}

nav #menu{
	float: left;
	left: 50%;
	position: relative;
}

nav #menu li{
	display: inline-block;
	padding: 0px 30px;
	cursor: pointer;
	line-height: 70px;
	position: relative;
	transition: all 0.3s ease-out;
}

 nav #menu li a{
 	color: #fff;
 	font-family: " Poppins";
 	font-weight: 200;
 }

 #toggle{
 	position: absolute;
 	right: 20px;
 	top: 14px;
 	z-index: 999;
 	width: 40px;
 	height: 40px;
 	cursor: pointer;
 	float: right;
 	transition: all 0.3s ease-out;
 	visibility: hidden;
 	opacity: 0;
 }
#toggle .span{
	height: 3px;
	background: #fff;
	transition: all 0.3s ease-out;
	backface-visibility: hidden;
	margin: 5px auto;
}

#toggle.on #one{
	transform: rotate(45deg) translateX(2px) translateY(4px);
}

#toggle.on #two{
	opacity: 0;
}

#toggle.on #three{
	transform: rotate(-45deg) translateX(8px) translateY(-10px);
}

#resize{
	z-index: 1;
	top: 0px;
	position: absolute;
	background: #000;
	width: 100%;
	height: 100%;
	visibility: hidden;
	opacity: 0;
	transition: all 1s ease-out;
	display: table;
}

#resize #menu{
	height: 50px;
	display: table-cell;
	vertical-align: center;
}

#resize #menu li{
	display: block;
	text-align: center;
	padding: 20px 0;
	font-size: 50px;
	min-height: 50px;
	font-weight: 200;
	cursor: pointer;
	transition: all 0.3s ease-out;
}

#resize #menu li a{
	color: #fff;
}

#resize.active{
	visibility: visible;
	opacity: 0.99;
}

@media(max-width: 768px){
	#toggle{
		visibility: visible;
		opacity: 1;
		margin-top: 6px;
	}

	nav #brand{
		margin-left: 18px;
	}

	#menu a {
		font-family: "Poppins";
		font-weight: 200;
		font-size: 20px;
	}
	nav #menu{
		display: none;
	}
}


@media(min-width: 768px){
	#resize{
		visibility: hidden !important;
	}
}

.img1{
	
	background-image: url(..//images/modern-mobile.png);
	background-image: url(..//images/modern-bg.png);
}
.img1 a logo{
	display: block;
  	margin-left: auto;
    margin-right: auto;
    width: 50%;
}
*/